#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.material-symbols-outlined{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24,
}

.search{
  display: flex;
  justify-content: baseline;
}

.search-bar{
  padding: 0.5em;
  font-size: 1.5em;
  /* border-radius:  8px 0 0 8px; */
  border-radius:  8px 8px 8px 8px;
}

.to-remove-rounded{
  border-radius: 0 8px 8px 0;
}

.search-container{
  display: flex;
  gap: 8px;
  align-items: center;
}

.meal-details-wrapper {
  max-width: 900px;
  margin: 2rem auto;
  text-align: left;
}

.back-button {
  margin-bottom: 1rem;
  background-color: #444;
  color:white;
}

.meal-card {
  background: #2a2a2a;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  padding: 2rem;
}

.meal-header h1{
  margin-top: 0;
  font-size: 2.5rem;
  color: #4c00ff;
}

.meal-category{
  background: #646cff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
  margin-right: 10px;
}

.meal-image-container img{
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.meal-ingredients{
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.meal-ingredients li{
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
}

.meal-section p{
  line-height: 1.6;
  white-space: pre-wrap;
  color: white;
}